@font-face {
  font-family: JetBrainsMono;
  src: url("/JetBrainsMonoNLNerdFont-Regular.ttf");
}

:root {
  --bg-color: rgba(32, 32, 42, 0.8);
  --font-color: #cdd6f4;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #dc8add var(--bg-color);
}

html {
  color: var(--font-color);
  font-family: JetBrainsMono;
  height: 100vh;
  width: 100vw;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

@media only screen and (max-width: 768px) {
  .viewer {
    position: relative;
    overflow: scroll !important;
    height: fit-content !important;

    .tab>ul {
      margin-top: 0px !important;
      margin-left: 0px !important;
    }

    .tab {
      height: 1.8em !important;
      box-shadow: 0px 3px 0px 0px var(--font-color) !important;
      position: relative;
    }
    .tab>ul>li>a {
      align-content: center;
    }

    .file-manager {
      right: 0;
      top: 0;
      bottom: 0;
      position: absolute;
      width: 2em;
      padding-left: 0.5em;
      box-shadow: -3px 0px 0px 0px var(--font-color);
      align-content: center;
      cursor: pointer;
    }
  }

  .section {
    margin-left: 3%;
    margin-right: 3%;
    padding: 0;

    .section {
      margin: 0;
    }
  }

  .files {
    display: none;
    box-shadow: 0px 3px 0px 0px var(--font-color) !important;
  }

  .close {
    display: none;
  }

  .open {
    display: block;
    height: 100%;
  }

  .prompt {
    display: none !important;
  }
}

@media only screen and (min-width: 768px) {
  .viewer {
    width: 80%;
    margin-left: 20%;
    position: absolute;
  }

  .files {
    position: sticky;
    top: 0;
    width: calc(20% - 10px);
    height: calc(100% - 58px);

    box-shadow: 3px 0px 0px 0px var(--font-color);
    overflow-x: scroll;
  }
  
  .file-manager {
    display: none;
  }
}

main {
  overflow: clip;
  height: 98vh;
  width: 98vw;
  margin-top: 1vh;
  margin-left: 1vw;
  border-radius: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: var(--bg-color);
  backdrop-filter: blur(5px);

  .files {
    ul {
      list-style-type: none;

      a {
        color: var(--font-color);
        text-decoration: none;
        display: inline;
      }
    }

    a:hover,
    .selected {
      background-color: rgba(66, 135, 245, 0.5) !important;
    }
  }

  .viewer {
    height: calc(100% - 58px);
    overflow: clip;

    .content {
      text-wrap: balance;
      padding-left: 20px;
      height: calc(100% - 23px);
      overflow-y: scroll;
      overflow-x: clip;
      margin-top: 3px;

      a:hover,
      .selected {
        background-color: rgba(66, 135, 245, 0.5) !important;
      }

      img {
        max-width: 90%;
        max-height: 20%;
        margin-right: 100vw;
      }

      pre{
        background-color: var(--bg-color) !important;
        padding: 10px;
        width: calc(100% - 40px);
      }

      code, 
      blockquote {
        background-color: var(--bg-color) !important;
        width: calc(100% - 50px);
        padding: 0.2em 1em 0.2em 1em;
        margin-left: 0px;
        height: fit-content;
        position: relative;
      }

      pre>code{
        background-color: transparent !important;
        color: var(--font-color);
      }

      code {
        font-size: 1.2em;
        padding: 0.2em;
        background-color: #b7c2fd40 !important;
        color: #b7c2fd;
      }
      
      blockquote::before {
        background-color: #82aaff;
        width: 3.5px;
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        content: '';
      }

      ul.section a,
      ul.section li,
      ul.section a::before {
        color: var(--font-color);
        text-decoration: none;
        list-style-type: none;
        content: ' ';
      }

      li.section a::before {
        content: ' ';
      }

      h1,
      a,
      a::before {
        color: #82aaff;
        content: '󰌹 ';
      }

      h1::before {
        content: '󰲡 ';
      }

      h2,
      h2::before {
        color: #ffc777;
        content: ' 󰲣 ';
      }

      h3,
      h3::before {
        color: #c3e88d;
        content: '  󰲥 ';
      }
    }

    .tab::-webkit-scrollbar {
      display: none;
    }

    .tab {
      width: 100%;
      height: 22px;
      box-shadow: 0px 3px 0px 0px var(--font-color);
      overflow-x: scroll;
      -ms-overflow-style: none;
      scrollbar-width: none;

      button {
        all: unset;
        cursor: pointer;
        padding-left: 5px;
      }

      ul {
        display: flex;
        flex-direction: row;
        padding: 0px;
        margin: 0;
        height: 100%;
        margin-left: 3px;

        li:hover,
        .selected {
          background-color: rgba(66, 135, 245, 0.5) !important;
        }

        li:not(.selected) a {
          color: rgb(205, 214, 244, 0.5);
        }

        a:hover {
          background-color: transparent;
        }

        a {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 50px;
          display: block;
          color: white;
        }

        li {
          padding: 0px 12px 0px 15px;
          box-shadow: -3px 0px 0px 0px var(--font-color) inset;
          color: rgba(205, 214, 244, 0.6) !important;
          display: inherit;
        }
      }
    }

    .section {
      padding: 0px;
    }
  }

  .file::-webkit-scrollbar {
    display: none;
  }


  .files {
    text-wrap: nowrap;
    overflow-x: scroll;
    -ms-overflow-style: none;
    padding-left: 10px;
    padding-top: 15px;

    ul:not(:empty) {
      padding-left: 0.2em;
      margin: 0;
    }

    span {
      padding: 0;
      margin: 0;
    }

    li {
      padding-left: 0;
      margin: 0;
    }

    li>ul>.file {
      padding-left: 2.5em;
    }

    a {
      color: var(--font-color);
    }
  }

  .prompt {
    position: relative;
    bottom: 0;
    height: 55px;
    box-shadow: 0px -3px 0px 0px var(--font-color);

    font-size: 10px;
    display: inline-flex;
    width: 100%;
    align-content: center;

    .cursor {
      opacity: 0.6;
      width: 15px;
      background-color: #fff;
      margin-top: 2ex;
      margin-bottom: 2ex;
      position: relative;
      display: none;
    }

    label {
      font-size: 2em;
      padding-left: 10px;
      margin-top: auto;
      margin-bottom: auto;
    }

    input {
      left: -1000px;
      position: absolute;
    }
  }
}

footer>p {
  margin-bottom: 0;
}
