<!DOCTYPE html>
<html lang="en" {% if config.extra.mode %} class="theme--{{config.extra.mode}}" {% else %} class="theme--light" {% endif %}>

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" href="https://imgpoi.com/image/20250116182118.A8YG6V" sizes="192x192" />
  <link rel="apple-touch-icon" href="https://imgpoi.com/image/20250116182118.A8YG6V" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ get_url(path='style.css') }}">
  <title>{% block title %}{{ config.title }}{% endblock title %}</title>
  {% if config.generate_feed %}
  <link rel="alternate" type="application/rss+xml" title="{{ config.title }}" href="{{ get_url(path='rss.xml', trailing_slash=false, lang=lang) }}">
  {% endif %}
  {% block extra_head %}{% endblock extra_head %}

  {% if config.build_search_index %}
  <script type="text/javascript" src="{{ get_url(path='elasticlunr.min.js') | safe }}" defer></script>
  <script type="text/javascript" src="{{ get_url(path='search_index.en.js') | safe }}" defer></script>
  {% endif %}
  <script type="text/javascript" src="{{ get_url(path='js/search.js') | safe }}" defer></script>
  <script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
  <script>
    window.MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']],
        displayMath: [['$$', '$$'], ["\\[", "\\]"]]
      },
      startup: {
        ready: () => {
          const prelist = document.getElementsByTagName("pre");
          const codelist = document.getElementsByTagName("code");
          const inline = MathJax.config.tex.inlineMath;
          const display = MathJax.config.tex.displayMath;
          const inlineRegexList = inline.map(delim => `(${delim[0].replace(/[\-\[\]\/\{\}\(\)\*\+\?\.\\\^\$\|]/g, "\\$&")})((.|[\\r\\n\\t])*?)(${delim[1].replace(/[\-\[\]\/\{\}\(\)\*\+\?\.\\\^\$\|]/g, "\\$&")})`);
          const displayRegexList = display.map(delim => `(${delim[0].replace(/[\-\[\]\/\{\}\(\)\*\+\?\.\\\^\$\|]/g, "\\$&")})((.|[\\r\\n\\t])*?)(${delim[1].replace(/[\-\[\]\/\{\}\(\)\*\+\?\.\\\^\$\|]/g, "\\$&")})`);
          const inlineRegExp = new RegExp(inlineRegexList.join("|"));
          const displayRegExp = new RegExp(displayRegexList.join("|"));

          for (let i = prelist.length; i > 0; i--) {
            if (displayRegExp.test(prelist[i - 1].textContent)) {
              const t = document.createTextNode(prelist[i - 1].textContent);
              prelist[i - 1].parentNode.insertBefore(t, prelist[i - 1]);
              prelist[i - 1].parentNode.removeChild(prelist[i - 1]);
            }
          }

          for (let i = codelist.length; i > 0; i--) {
            if (inlineRegExp.test(codelist[i - 1].textContent)) {
              const t = document.createTextNode(codelist[i - 1].textContent);
              codelist[i - 1].parentNode.insertBefore(t, codelist[i - 1]);
              codelist[i - 1].parentNode.removeChild(codelist[i - 1]);
            }
          }

          MathJax.startup.defaultReady();
        }
      }
    };
  </script>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const menuButton = document.getElementById('menu-button');
      const sidebar = document.getElementById('sidebar');
      const mainContent = document.getElementById('main');
  
      menuButton.addEventListener('click', () => {
        sidebar.classList.toggle('active'); // 切换侧边栏显示状态
        mainContent.classList.toggle('active'); // 添加或移除遮罩效果
      });
  
      // 点击主内容区域时，隐藏侧边栏
      mainContent.addEventListener('click', () => {
        if (sidebar.classList.contains('active')) {
          sidebar.classList.remove('active');
          mainContent.classList.remove('active');
        }
      });
    });
  </script>
  <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      new Typed("#typed-text", {
        strings: [
          "虽千万人，吾往矣！",
          "永远要拯救自己，永远！",
          "答应我，好好地！",
          "再给自己一次机会！",
          "恨，是不共戴天！",
          "爱，要义无反顾！"
        ], // 每一段文字
        typeSpeed: 50, // 打字速度
        backSpeed: 30, // 删除速度
        loop: true, // 是否循环
        backDelay: 5000, // 删除前的停顿时间
        showCursor: false, // 隐藏光标
      });
    });
  </script>
  <style>
  .subtitle {
    min-height: 24px;      /* 保证高度不塌缩，按需调整 */
    line-height: 24px;     /* 垂直居中 */
    font-size: 15px;
    font-style: italic;
  }
  #typed-text { display: inline-block; }
  </style>
</head>

<body>
  <div id="sidebar" class="animated fadeInDown">
    <div class="logo-title">
      <div class="title">
        <div class="logo">
          <img src="{{ get_url(path='images/logo.png') }}" alt="Logo">
        </div>
        <h1><a href="{{ get_url(path='@/_index.md') }}">{{ config.title }}</a></h1>
        <div class="subtitle">
            <span id="typed-text"></span>
        </div>
      </div>
    </div>
    <ul class="social-links">
      <li><a href="https://github.com/wjch611" aria-label="Go to Github profile page" title="Github"><i class="fab fa-github"></i></a></li>
      {% if config.build_search_index %}
      <li>
        <span id="search-ico" class="ms-Icon--Search">
          <i class="fa-solid fa-magnifying-glass"></i>
        </span>
      </li>
      {% endif %}
      {% block more_social_link %}{% endblock more_social_link %}
    </ul>

    <div class="page-top animated fadeInDown">
      <div class="nav">
        {% set current_url_str = current_url | as_str %}
        {% set language_site_base = get_url(path="@/_index.md", lang=lang) | as_str %}
        {% set language_site_path_without_prefix = current_url | trim_start_matches(pat=language_site_base) | trim_end_matches(pat="/") %}
        {% set language_site_path = '/' ~ language_site_path_without_prefix %}
        <li><a {% if language_site_path=="/" or language_site_path is starting_with("/page/") %}class="current" {% endif %} href="{{ get_url(path="@/_index.md", lang=lang) }}">{{ trans(key="home", lang=lang) }}</a></li>
        {% if config.extra.show.tags %}
        <li><a {% if language_site_path is starting_with("/tags") %}class="current" {% endif %} href="{{ get_url(path="@/_index.md", lang=lang) }}tags">{{ trans(key="tags", lang=lang) }}</a></li>
        {% endif %}
        <li><a {% if language_site_path is starting_with("/music") %}class="current" {% endif %} href="{{ get_url(path="@/music/_index.md", lang=lang) }}">{{ trans(key="music", lang=lang) }}</a></li>
        <li><a {% if language_site_path is starting_with("/about") %}class="current" {% endif %} href="{{ get_url(path="@/about/_index.md", lang=lang) }}">{{ trans(key="about", lang=lang) }}</a></li>
        {% if config.extra.show.links %}
        <li><a {% if language_site_path is starting_with("/flags") %}class="current" {% endif %} href="{{ get_url(path="@/flags/_index.md", lang=lang) }}">{{ trans(key="flags", lang=lang) }}</a></li>
        {% endif %}
      </div>
    </div>

    <div class="footer">
      {% block footer %}
      <div class="globe_css">
        <script type="text/javascript" id="clstr_globe" src="//clustrmaps.com/globe.js?d=OMA2K1dAmRGTW9mPMmgzRLW7kMSfelF45YmgB4U81MA"></script>
      </div>
      
      {% endblock footer %}
    </div>
  </div>

  <div id="main">
    <div class="search-overlay">
      <button id="close-search" class="close-button">✖</button>
      <div class="search-container">
        <input type="text" id="search" placeholder="Search...">
        <ul class="search-results">
          <h2 class="search-results__header"></h2>
          <ul class="search-results__items"></ul>
        </ul>
      </div>
    </div>

    <div class="autopagerize_page_element">
      <div class="content">
        {% block content %}{% endblock content %}
      </div>
    </div>
  </div>
</body>

</html>


